<nav>
  
</nav>
<div class="main">
  <div class="header-container" #header>
    <div class="header" >
      <h1 [@headerOnStart]="headerOnStartState" class="selection">Lucas <span class="selection">Nam Haï</span> TRAN</h1>
      <h2 [@headerOnStart]="headerOnStartState" class="selection">- Developper -</h2>
    </div>
  </div>
  
  <div class="card" #cardHover>
    <app-card-hover-mouse class="card-hover"></app-card-hover-mouse>

  </div>
  <div class="text-container">
    <div #text1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, unde tenetur.
    </div>
  </div>
  <div class="la-suite panel">
    <div class="panelGauche panelText">
      <h4>Lorem, ipsum dolor.</h4>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ducimus rerum dolores ipsam magnam facilis hic expedita praesentium fuga culpa.</p>
    </div>
    <div class="panelDroite">
      <img src="../assets/panel_1.jpg" alt="panel-1">
    </div>
  </div>
  <div class="la-suite2 panel">
    <div class="panelGauche">
      <div class="imageBatch1 image" #image>
        <img src="../assets/cover1.png" alt="cover1">
        <img src="../assets/cover2.jpg" alt="cover2">
      </div>
      <div class="imageBatch2 image" #image>
        <img src="../assets/cover3.jpg" alt="cover3">
        <img src="../assets/cover4.png" alt="cover4">
      </div>
    </div>
    <div class="panelDroite panelText" #panelDroite>
      <h4>Lorem, ipsum dolor.</h4>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ducimus rerum dolores ipsam magnam facilis hic expedita praesentium fuga culpa.</p>
    </div>
  </div>
</div>

<footer>
  
</footer>