
nav {
    margin: 2rem 10rem 0 10rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    span {
        color: white;
        font-family: "Migra";
        font-weight: 600;
        font-size: 2rem;
    }
    svg {
        width: 3rem;
    }
    .github {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover .gradient-content {
            opacity: 1;
        }
        .gradient-content {
            transform: rotate(-131deg);
        }
    }
}
.main {
    color: white;
    padding-top: 22rem;
    .header-container {
        margin: 0 auto 6rem;
        width: auto;

        .header {
            position: relative;
            
            //animation: 0.8s linear forwards headerIntro; 
            //transform-origin: 50% 80%;
            filter: drop-shadow( 25px -15px 3px #000000);
            perspective: 1000px;
            > * {
                
                font-family: 'Migra';
                
                font-weight: 600;
                transform: translateZ(2000px);
                // text-shadow: 25px -15px 6px #000000;
                font-size: 5rem;
                text-align: center;
                // animation: 0.7s linear forwards headerIntro; 
                
                span {
                    font-weight: 400;
                    font-family: 'Roslindale Text';
                    background-color: white;
                    //color: #00ffb3;
                    color: #000000;
                    &::selection {
                        background-color: black;
                        border: 1px solid red;
                        color: white;
                    }
                }
            }
            h2 {
                font-weight: 600;
                font-family: 'Migra Italic';
            }
        }
    }

    .card {
        margin: 2rem auto 0;
        width: 30rem;
        height: 40rem;
        opacity: 0;
        position: relative;
        animation: 0.5s ease-in-out 0.5s forwards cardOnStart;
    }

    .text-container {
        width: 25rem;
        height: 0;
        margin: 0 auto;
        div {
            position: relative;
            font-size: 3.5rem;
            top: -15rem;
            left: -10rem;
            font-weight: 600;
            line-height: 4.5rem;
            pointer-events: none;
            opacity: 0;
            transform: translateX(-100px);
            will-change: transform, opacity;
        }
    }

    .la-suite {
        margin: 25rem auto 0;
        align-items: center;
        

        .panelDroite{
            
            img {
                width: 25rem;
                border-radius: 2rem;
            }
        }
    }
    .la-suite2 {
        margin-top: 20rem;
        .panelGauche {
            margin-top: 10rem;
            div {
                filter: brightness(0.5);
                img {
                    width: 15rem;
                }
            }
            div:first-child {
                position: relative;
                z-index: 2;
                img {
                    &:first-child {
                        transform: rotate(-10deg);
                        margin-bottom: -2rem;
                        position: relative;
                        z-index: 4;
                        left: 0.4rem;
                    }
                    &:nth-child(2) {
                        transform: rotate(9deg);
                        position: relative;
                        z-index: 3;
                        margin-bottom: -1rem;
                        left: 2rem;
                    }
                }
                
            }
            div:nth-child(2) {
                position: relative;
                z-index: 1;
                img {
                    &:first-child {
                        transform: rotate(16deg);
                        margin-bottom: -2rem;
                        position: relative;
                        right: 4rem;
                        z-index: 2;
                    }
                    &:nth-child(2) {
                        transform: rotate(-8deg);
                        position: relative;
                        z-index: 1;
                        right: 3rem;
                    }
                }
            }
        }
        .panelDroite.panelText{
            width: 25rem;
            position: relative;
            right: 0rem;
            height: 100%;
        }
    }
}

.panel {
    width: 55rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    margin: 0 auto 0;
    .panelText {
        h4 {
            color: #4156ff;
            font-family: 'Arial';
            font-weight: 300;
            text-transform: uppercase;
            font-size: 0.8rem;
            letter-spacing: 0.7rem;
        }
        h3 {
            margin-top: 2rem;
            font-size: 2.5rem;
            line-height: 3rem;
        }
        p {
            line-height: 2rem;
            margin-top: 2rem;
            color: #646464;

        }
    }
}

.selection {
    &::selection {
        background-color: white;
        color: #000000;
    }
}

.selection-blue {
    &::selection {
        background: #0018ca;
        color: white;
    }
}

footer {
    margin-top: 25rem;
    margin-bottom: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .footerImage {
        position: relative;
        margin: 0 auto 2rem;
        width: 60px;
        min-width: 80%;
        height: 25rem;
        transform: scale(0.9);
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            position: absolute;
            perspective: 500px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
                filter: grayscale(1);
                width: 100%;
                object-fit: cover;
                transition-duration: 500ms;
                transition-timing-function: ease-in-out;
                &:hover {
                    transform: translateZ(40px);
                }
            }
        }  
    }
    .scroller {
        height: 0rem;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        top: -18rem;
        span {
            font-weight: 600;
            display: inline-block;
            position: relative;
            font-size: 6rem;
            white-space: nowrap;
            color: white;
            transform: translateX(0);
            animation: scrollTextLeft 16s linear infinite;
            
        }
    }

    .goUP {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid white;
        border-radius: 50%;
        svg {
            width: 1rem;
            height: 1rem;
            
        }

        &:hover .gradient-content {
            opacity: 1;
        }

        
    }

    
}

.gradient-content {
    position: absolute;
    transform: rotate(22deg);
    filter: blur(7px);
    opacity: 0;
    transition-duration: 350ms;
    
    .gradient-item {
        width: 6px;
        height: 38px;
        position: absolute;
    }

    .gradient1{
        background-color: greenyellow;
        transform: translate(0,-50%);
    }
    .gradient2{
        background-color: rgb(255, 241, 47);
        transform: translate(50%,-50%);

    }
    .gradient3{
        background-color: rgb(255, 158, 47);
        transform: translate(100%, -50%);

    }
    .gradient4{
        background-color: rgb(255, 0, 0);
        transform: translate(150%, -50%);

    }
}

@keyframes scrollTextLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes cardOnStart {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
