:host {
    display: block;
    width: 100%;
    height: 100%;

}



.card {
    position: relative;
    width: 32rem;
    height: 42rem;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;

}

.img {
    position: relative;
    width: 30rem;
    height: 40rem;
    transition-timing-function: ease-in-out;
    // transition-duration: 200ms;
    background-image: url('../../assets/hero.jpeg');
    background-size: contain;
}