/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

body {
    // background-image: url("assets/background_pattern.jpg");
    background-repeat: repeat;
    font-family: "Gotham-Medium", Arial, Helvetica, sans-serif;
}

html {
    
    
    background-image: url("assets/background_pattern.jpg");
    background-position: -352px;
    background-color: black;
}